{%- if section.settings.hero_layout == 'full_width' and section.settings.hero_size == 'adapt' -%}
  {%- if section.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
  {%- endif -%}
  {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
  {%- style -%}
    .hero-{{ section.id }} {
      height: {{- wrapper_height -}}vw !important;
    }
  {%- endstyle -%}
{%- endif -%}
{{ 'hero.scss.css' | asset_url | stylesheet_tag }}
<div data-section-id="{{ section.id }}" data-section-type="hero-section">
  <div class="background" style="background-image: url('{{ section.settings.image | img_url: '2048x' }}');">
    <div class="background__overlay"></div>
    <div class="background__content">
      <div class="background__flag">
        <div class="white">
        </div>
        <div class="red">
        </div>
      </div>
      <h1>
        {{ section.settings.title }}
      </h1>
      <h2>
        {{ section.settings.subtitle }}
      </h2>
    </div>
  </div>
</div>
{% comment %} Change into blocks {% endcomment %}
{% schema %}
{
  "name": "Obrazek główny",
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Tytuł",
      "default": "Polskie buty"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Podtytuł",
      "default": "Polska jakość"
    }
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %} 
