{{ 'home-page.scss.css' | asset_url | stylesheet_tag }}
<section class="Our-product">
  <div class="Section__container Our-product__section-border">
    {% comment %} <div class="Our-product__header Main__header">
      <h1>Bestellery</h1>
    </div> {% endcomment %}
    <div class="Our-product__row row">
      {% for product in collections.all.products limit: 6%}
        <div class="col-4">
          <div class="Our-product__product">
          {% include 'product-card-grid', max_height: 100, product: product, show_vendor: false %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="Our-product__button">
      <button class="btn-more__container">
        <div class=btn-more__background>
          <a href="/collections/all">Zobacz więcej</a>
        </div>
      </button>
    </div>
  </div>
</section>

<section class="About">
  <div class="Section__container">
    <div class="About__header Main__header">
      <h1>{{ section.settings.heading1 }}</h1>
    </div>
    <div class="row">
      <div class="Main__content col-6">
        <div class="Main__text">
         {{ section.settings.paragraph1 }}
        </div>
      </div>
      <div class="Main__image col-6">
        <img src="{{ section.settings.image | img_url: '2048x' }}" alt="" />
      </div>
    </div>
  </div>   
</section>

<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": 3000 }'>
  {% for block in section.blocks %}    
    <div class="carousel-cell">
      <div class="Section__container carousel__content">
        <div class="carousel__description">{{ block.settings.description }}</div>
        <div class="carousel__title">{{ block.settings.title }}</div>
      </div>
    </div>
  {% endfor %}
</div>

<section class="Quality">
  <div class="Section__container">
    <div class="Quality__header Main__header">
      <h1>{{ section.settings.heading3 }}</h1>
    </div>
    <div class="row">
      <div class="Main__image col-6">
        <img src="{{ section.settings.image_2 | img_url: '2048x' }}" alt="" />
      </div>
      <div class="Main__content col-6">
        <div class="Main__text">
         {{ section.settings.paragraph3 }}
        </div>
      </div>
    </div>
  </div>   
</section>

<section class="Contact">
  <div class="Section__container">
    <h2>
      Skontaktuj się z nami
    </h2>
    <form class="Contact__form" method="POST" encType="multipart/form-data">
      <input
        type="text"
        id="fname"
        name="firstname"
        placeholder="Imie"
      />
      <input
        type="text"
        id="subject"
        name="subject"
        placeholder="Temat"
      />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
      />
      <textarea
        id="message"
        name="message"
        placeholder="Wiadomość"
      >
      </textarea>
      <button class="Contact__button">
        WYŚLIJ
      </button>
    </form>
  </div>
</section>

{% comment %} <section class="Instagram-gallery">
  <div class="Section__container">
    <div id="wc-instagram-feed" data-gallerytype="InstaProductFeed"  data-id="1509092011"></div>
  </div>
</section> {% endcomment %}

{% schema %}
{
  "name": "Strona głowna",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Obrazek 1"
    },
    {
      "type": "text",
      "id": "heading1",
      "label": "Nagłówek 1"
    },
    {
      "type": "richtext",
      "id": "paragraph1",
      "label": "Tekst 1",
      "default": "<p></p>"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Obrazek 2"
    },
    {
      "type": "text",
      "id": "heading3",
      "label": "Nagłówek 2"
    },
    {
      "type": "richtext",
      "id": "paragraph3",
      "label": "Tekst 2",
      "default": "<p></p>"
    }
  ],
  "blocks": [
    {
      "type": "Opinie",
      "name": "Opinie",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tytuł",
          "default": "- Lorem ipsum"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Opis",
          "default": "Lorem ipsum"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %} 