{{ 'contact.scss.css' | asset_url | stylesheet_tag }}

<div class="Contact">
  <div class="Section__container">
    <h1>{{ page.title }}</h1>
    
    <div class="Contact__content">
      {{ page.content }}
    </div>

    <div class="Contact__contact">
      <h2>
        Skontaktuj się z nami
      </h2>
      <div class="row"> 
        <div class="col-6">
          <form class="Contact__form" method="POST" encType="multipart/form-data">
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Imie"
            />
            <input
              type="text"
              id="subject"
              name="subject"
              placeholder="Temat"
            />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="E-mail"
            />
            <textarea
              id="message"
              name="message"
              placeholder="Wiadomość"
            >
            </textarea>
            <button class="Contact__button">
              WYŚLIJ
            </button>
          </form>
        </div>
        <div class="col-6">
          <div class="Contact__address">
            <p>ul.: {{ shop.address.street }}</p>
            <p>{{ shop.address.zip }}  {{shop.address.city }}</p>
            <p>tel.: {{ shop.phone }}</p>
            <p>e-mail: {{ shop.email }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>